# Scraping salary data for veterinary clinical pathologists from Glassdoor
My wife is a veterinary clinical pathologist and is very interested in determining the range of salaries for her profession. One way of doing that is webscraping to aquire a large enough dataset to identify trends, such as salary by city/state or by foci. Glassdoor is a good resource for this, as it is widely used and I can easily shift keywords to search for broader categories to compare. 

For this project, I will attempt to pool together some code to generate a dataframe to analyze. For data collection, I will use a webscraping approach through Glassdoor using code prepared by Omer Sakarya (https://github.com/arapfaik/scraping-glassdoor-selenium). I only slightly modified the data and plan on forking it off from github.

In [2]:
#import libraries and scripts
import sys
sys.path.append(r"C:\Users\Tineash\Projects\Glassdoor_webscraper\Python_scripts")
import pandas as pd
import glassdoor_scraper_mod_v2 as gsm2

import numpy as np

In [5]:
# running scraper on glassdoor



path = 'C:/Program Files/Chrome_driver/chromedriver'
data = gsm2.get_jobs("Data Analyst", 10, False, path, 3)

There are  26549 Data Analyst jobs Jobs  for the input keyword(s).
Progress: 0/10
Attempting to gather information
Attempting to gather information
Looking for Information Container
Progress: 1/10
StaleElementReferenceException while trying to click...seeking element again.
Attempting to gather information
Looking for Information Container
Progress: 2/10
StaleElementReferenceException while trying to click...seeking element again.
Attempting to gather information
Looking for Information Container
Progress: 3/10
StaleElementReferenceException while trying to click...seeking element again.
Attempting to gather information
Looking for Information Container
NO COMPANY INFO FOUND
Progress: 4/10
StaleElementReferenceException while trying to click...seeking element again.
Attempting to gather information
Looking for Information Container
NO COMPANY INFO FOUND
Progress: 5/10
StaleElementReferenceException while trying to click...seeking element again.
Attempting to gather information
Looking for Information Container
Progress: 6/10
StaleElementReferenceException while trying to click...seeking element again.
Attempting to gather information
Looking for Information Container
Progress: 7/10
StaleElementReferenceException while trying to click...seeking element again.
Attempting to gather information
Looking for Information Container
Progress: 8/10
StaleElementReferenceException while trying to click...seeking element again.
Attempting to gather information
Looking for Information Container
Progress: 9/10
StaleElementReferenceException while trying to click...seeking element again.
Attempting to gather information
Looking for Information Container
Progress: 10/10
Stopping run

In [6]:
#Let's you view the entire dataframe. 
#You can change "None" to an int of your choice to limit the number of rows shown
pd.set_option('display.max_rows',20)
data.dtypes

Job Title            object
Salary Minimum       object
Salary Maximum       object
Salary Average       object
Rating               object
Company Name         object
Location             object
Size                 object
Founded              object
Type of ownership    object
Industry             object
Sector               object
Revenue              object
dtype: object

In [ ]:
#get some information on the dataframe
data.info()

In [4]:
#Replace -1 values (string) with NAN
data_nulled = data.replace(-1, np.nan)
data_nulled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          700 non-null    object
 1   Salary Minimum     630 non-null    object
 2   Salary Maximum     630 non-null    object
 3   Salary Average     630 non-null    object
 4   Rating             657 non-null    object
 5   Company Name       700 non-null    object
 6   Location           700 non-null    object
 7   Size               670 non-null    object
 8   Founded            564 non-null    object
 9   Type of ownership  670 non-null    object
 10  Industry           638 non-null    object
 11  Sector             638 non-null    object
 12  Revenue            670 non-null    object
dtypes: object(13)
memory usage: 71.2+ KB

In [9]:
#pickle the data to view at a later time
#dataframe.to_pickle("path_to_file.pkl")
data_nulled.to_pickle("C:/Users/Tineash/Data_analyst_dataset.pkl")

#dataframe.to_csv("path_to_file.csv")
data_nulled.to_csv("C:/Users/Tineash/Data_analyst_dataset.csv", index = False)

In [10]:
#set a variable to take the data data
DA_data = pd.read_csv("./Data_analyst_dataset.csv")

In [11]:
#view data
DA_data.head()

,Job Title,Salary Minimum,Salary Maximum,Salary Average,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue
0,IT-Data Analyst,$45K,$82K,"$61,021 /yr (est.)",3.9,Federated Mutual Insurance Company\n3.9,"Owatonna, MN",1001 to 5000 Employees,1904.0,Company - Private,Insurance Carriers,Insurance,$1 to $2 billion (USD)
1,Research and Data Analyst,$51K,$91K,"$67,848 /yr (est.)",4.1,Association of American Medical Colleges\n4.1,"Washington, DC",501 to 1000 Employees,1876.0,Nonprofit Organization,Health Care Services & Hospitals,Healthcare,$100 to $500 million (USD)
2,Jr. Data Analyst,$34.00 /hr,$36.00,$35.00 /hr (est.),4.9,Spartan Capital Group LLC\n4.9,Remote,1 to 50 Employees,2018.0,Company - Private,Business Consulting,Management & Consulting,$1 to $5 million (USD)
3,Data Analyst + Apprentice (Entry-Level),$35K,$45K,"$40,000 /yr (est.)",3.3,New Apprenticeship\n3.3,"Raleigh, NC",1 to 50 Employees,NaN,Company - Private,NaN,NaN,Unknown / Non-Applicable
4,Data Analyst,$90K,$110K,"$100,000 /yr (est.)",4.6,Store Space Self Storage\n4.6,"Greenwood Village, CO",201 to 500 Employees,2017.0,Company - Private,Real Estate,Real Estate,Unknown / Non-Applicable

In [12]:
DA_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          700 non-null    object
 1   Salary Minimum     630 non-null    object
 2   Salary Maximum     630 non-null    object
 3   Salary Average     630 non-null    object
 4   Rating             657 non-null    float64
 5   Company Name       700 non-null    object
 6   Location           700 non-null    object
 7   Size               670 non-null    object
 8   Founded            564 non-null    float64
 9   Type of ownership  670 non-null    object
 10  Industry           638 non-null    object
 11  Sector             638 non-null    object
 12  Revenue            670 non-null    object
dtypes: float64(2), object(11)
memory usage: 71.2+ KB