# Scraping salary data for veterinary clinical pathologists from Glassdoor
My wife is a veterinary clinical pathologist and is very interested in determining the range of salaries for her profession. One way of doing that is webscraping to aquire a large enough dataset to identify trends, such as salary by city/state or by foci. Glassdoor is a good resource for this, as it is widely used and I can easily shift keywords to search for broader categories to compare. 

For this project, I will attempt to pool together some code to generate a dataframe to analyze. For data collection, I will use a webscraping approach through Glassdoor using code prepared by Omer Sakarya (https://github.com/arapfaik/scraping-glassdoor-selenium). I only slightly modified the data and plan on forking it off from github.

In [1]:
#import libraries and scripts

import pandas as pd
import glassdoor_scraper_mod_v2 as gsm2

import numpy as np

In [5]:
# running scraper on glassdoor



path = 'C:/Program Files/Chrome_driver/chromedriver'
data = gsm2.get_jobs("Veterinary Clinical Pa", 100, False, path, 3)

There are  186 Veterinary Clinical P Jobs  for the input keyword(s).
Progress: 0/100
StaleElementReferenceException while trying to click...seeking element again.
Populating new list
Looking for Information Container
The minimum pay range is: $81K
The maximum pay range is: $225K
The average pay range is: $134,906 /yr (est.)
The rating is: 3.4
Progress: 1/100
StaleElementReferenceException while trying to click...seeking element again.
Populating new list
Looking for Information Container
The minimum pay range is: $99K
The maximum pay range is: $197K
The average pay range is: $139,865 /yr (est.)
The rating is: 4.1
Progress: 2/100
StaleElementReferenceException while trying to click...seeking element again.
Populating new list
Looking for Information Container
The minimum pay range is: $74K
The maximum pay range is: $172K
The average pay range is: $113,205 /yr (est.)
The rating is: 4.0
Progress: 3/100
StaleElementReferenceException while trying to click...seeking element again.
Populating new list
Looking for Information Container
The minimum pay range is: $47K
The maximum pay range is: $98K
The average pay range is: $68,072 /yr (est.)
The rating is: 4.2
Progress: 4/100
StaleElementReferenceException while trying to click...seeking element again.
Populating new list
Looking for Information Container
The minimum pay range is: $88K
The maximum pay range is: $231K
The average pay range is: $142,580 /yr (est.)
The rating is: 3.7
Progress: 5/100
StaleElementReferenceException while trying to click...seeking element again.
Populating new list
Looking for Information Container
SALARY MIN NOT FOUND
The rating is: 3.8
Progress: 6/100
StaleElementReferenceException while trying to click...seeking element again.
Populating new list
Looking for Information Container
The minimum pay range is: $90K
The maximum pay range is: $211K
The average pay range is: $137,712 /yr (est.)
The rating is: 3.6
Progress: 7/100
StaleElementReferenceException while trying to click...seeking element again.
Populating new list
Looking for Information Container
The minimum pay range is: $88K
The maximum pay range is: $168K
The average pay range is: $121,356 /yr (est.)
The rating is: 3.9
Progress: 8/100
StaleElementReferenceException while trying to click...seeking element again.
Populating new list
Looking for Information Container
SALARY MIN NOT FOUND
The rating is: 4.4
Progress: 9/100
StaleElementReferenceException while trying to click...seeking element again.
Populating new list
Looking for Information Container
The minimum pay range is: $68K
The maximum pay range is: $165K
The average pay range is: $106,244 /yr (est.)
The rating is: 3.2
Progress: 10/100
StaleElementReferenceException while trying to click...seeking element again.
Populating new list
Looking for Information Container
SALARY MIN NOT FOUND
The rating is: 3.1
Progress: 11/100
StaleElementReferenceException while trying to click...seeking element again.
Populating new list

IndexError: list index out of range

In [8]:
#Let's you view the entire dataframe. 
#You can change "None" to an int of your choice to limit the number of rows shown
pd.set_option('display.max_rows',None)
data

,Job Title,Salary AND Provider,Salary Minimum,Salary Maximum,Salary Average,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue
0,Scientist,$70K (Employer est.),$70K,$70K,"$70,000 /yr (est.)",-1,HCW Biologics Inc.,"Miramar, FL",-1,-1,-1,-1,-1,-1
1,Postdoctoral Research Fellow,$70K (Employer est.),$55K,$82K,"$68,429 /yr (est.)",4.1,University of California - San Francisco\n4.1,"San Francisco, CA",10000+ Employees,1864,College / University,Colleges & Universities,Education,$25 to $50 million (USD)
2,Scientist I-II,$70K (Employer est.),-1,-1,-1,-1,Heliae Development,"Gilbert, AZ",-1,-1,-1,-1,-1,-1
3,Scientist - Pharmacokinetics,$70K (Employer est.),$57K,$124K,"$83,688 /yr (est.)",4.0,Absorption Systems\n4.0,"Exton, PA",1 to 50 Employees,-1,Company - Public,-1,-1,Unknown / Non-Applicable
4,Scientist - Drug Development,$70K (Employer est.),$84K,$175K,"$121,166 /yr (est.)",4.3,"Systems Planning and Analysis, Inc.\n4.3","Lorton, VA",1001 to 5000 Employees,1972,Company - Private,Aerospace & Defense,Aerospace & Defense,$100 to $500 million (USD)
5,Scientist I,$70K (Employer est.),$90K,$100K,"$95,000 /yr (est.)",-1,Lumos Diagnostics,"Carlsbad, CA",-1,-1,-1,-1,-1,-1
6,Assistant Laboratory Manager,$70K (Employer est.),$65K,$75K,"$70,000 /yr (est.)",3.6,KAM Consultants Corp.\n3.6,"Long Island City, NY",1 to 50 Employees,-1,Company - Private,-1,-1,$1 to $5 million (USD)
7,"Manufacturing, Process Development Scientist, ...",$70K (Employer est.),$58K,$107K,"$78,569 /yr (est.)",4.2,"Agilent Technologies, Inc.\n4.2","Kirkland, WA",10000+ Employees,1999,Company - Public,Biotech & Pharmaceuticals,Pharmaceutical & Biotechnology,$2 to $5 billion (USD)
8,"Senior Research Associate/Junior Scientist, Bi...",$70K (Employer est.),$83K,$83K,"$82,500 /yr (est.)",-1,GALY,"Sunderland, MA",1 to 50 Employees,2019,Company - Private,Biotech & Pharmaceuticals,Pharmaceutical & Biotechnology,Unknown / Non-Applicable
9,"Scientist/Sr Scientist, Protein Chemist",$70K (Employer est.),$95K,$165K,"$130,000 /yr (est.)",-1,"Crossbow Therapeutics, Inc","Cambridge, MA",-1,-1,-1,-1,-1,-1

In [7]:
#get some information on the dataframe
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Job Title            10 non-null     object
 1   Salary AND Provider  10 non-null     object
 2   Salary Minimum       10 non-null     object
 3   Salary Maximum       10 non-null     object
 4   Salary Average       10 non-null     object
 5   Rating               10 non-null     object
 6   Company Name         10 non-null     object
 7   Location             10 non-null     object
 8   Size                 10 non-null     object
 9   Founded              10 non-null     object
 10  Type of ownership    10 non-null     object
 11  Industry             10 non-null     object
 12  Sector               10 non-null     object
 13  Revenue              10 non-null     object
dtypes: object(14)
memory usage: 1.2+ KB

In [38]:
#Replace -1 values (string) with NAN
data_nulled = data.replace(-1, np.nan)
data_nulled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 670 entries, 0 to 669
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          670 non-null    object
 1   Salary Minimum     563 non-null    object
 2   Salary Maximum     563 non-null    object
 3   Salary Average     563 non-null    object
 4   Rating             577 non-null    object
 5   Company Name       670 non-null    object
 6   Location           670 non-null    object
 7   Size               627 non-null    object
 8   Founded            510 non-null    object
 9   Type of ownership  627 non-null    object
 10  Industry           564 non-null    object
 11  Sector             564 non-null    object
 12  Revenue            627 non-null    object
dtypes: object(13)
memory usage: 68.2+ KB

In [39]:
#pickle the data to view at a later time
#dataframe.to_pickle("path_to_file.pkl")
data_nulled.to_pickle("C:/Users/Tineash/Data_analyst_dataset.pkl")

In [40]:
#set a variable to take the pickle data
DA_data = pd.read_pickle("./Data_analyst_dataset.pkl")

In [41]:
#view pickled data
DA_data

,Job Title,Salary Minimum,Salary Maximum,Salary Average,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue
0,Data Analyst,,,$60.00 /hr (est.),4.1,CRG\n4.1,"Macungie, PA",51 to 200 Employees,1994,Company - Private,HR Consulting,Human Resources & Staffing,Unknown / Non-Applicable
1,Data Analyst + Apprentice (Entry-Level),$35K,$45K,"$40,000 /yr (est.)",3.3,New Apprenticeship\n3.3,"Raleigh, NC",1 to 50 Employees,NaN,Company - Private,NaN,NaN,Unknown / Non-Applicable
2,Performance Data Analyst,$125K,$150K,"$137,500 /yr (est.)",NaN,Bellwether Staffing Solutions,Remote,1 to 50 Employees,2001,Company - Public,HR Consulting,Human Resources & Staffing,Unknown / Non-Applicable
3,"Data Analyst, Snap",$53K,$108K,"$75,304 /yr (est.)",3.9,Jellysmack\n3.9,"Los Angeles, CA",501 to 1000 Employees,2016,Company - Private,Internet & Web Services,Information Technology,Unknown / Non-Applicable
4,Data Analyst,$95K,$100K,"$97,500 /yr (est.)",3.0,G2 Secure Staff\n3.0,"Irving, TX",1001 to 5000 Employees,2005,Company - Private,"Airlines, Airports & Air Transportation",Transportation & Logistics,$100 to $500 million (USD)
5,Product Data Analyst,$105K,$125K,"$115,000 /yr (est.)",5.0,Underdog Fantasy\n5.0,Remote,51 to 200 Employees,2020,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",Unknown / Non-Applicable
6,Data Analyst,$90K,$90K,"$90,000 /yr (est.)",NaN,"innoVet Health, LLC",Remote,NaN,NaN,NaN,NaN,NaN,NaN
7,Data Analyst - Payment Reconciliation Focused,$20.50 /hr,$20.50,$20.50 /hr (est.),3.7,DentaQuest\n3.7,Remote,1001 to 5000 Employees,2001,Company - Private,Insurance Carriers,Insurance,$2 to $5 billion (USD)
8,Data Analyst/Insights Analyst (100% Remote),$31.07 /hr,$31.07,$31.07 /hr (est.),4.3,The Mom Project\n4.3,Remote,51 to 200 Employees,2016,Company - Private,HR Consulting,Human Resources & Staffing,Unknown / Non-Applicable
9,Vulnerability Data Entry Analyst,NaN,NaN,NaN,1.0,Defiant\n1.0,Remote,1 to 50 Employees,NaN,Company - Public,NaN,NaN,Unknown / Non-Applicable
10,Saybrus Partners- Data Reporting Analyst,$50K,$60K,"$54,815 /yr (est.)",3.5,Saybrus Partners\n3.5,Remote,51 to 200 Employees,2010,Company - Private,Insurance Agencies & Brokerages,Insurance,$100 to $500 million (USD)
11,Data Reporting Analyst,$65K,$85K,"$75,000 /yr (est.)",4.4,iTalent Digital\n4.4,Remote,201 to 500 Employees,2005,Company - Private,Information Technology Support Services,Information Technology,Unknown / Non-Applicable
12,Data Visualization Analyst,NaN,NaN,NaN,NaN,Open Architects,Remote,NaN,NaN,NaN,NaN,NaN,NaN
13,Data Analyst,$70K,$75K,"$72,500 /yr (est.)",NaN,LinkIt!,"New York, NY",NaN,NaN,NaN,NaN,NaN,NaN
14,Data Analyst Supporting the FBI,$25.29 /hr,$25.29,$25.29 /hr (est.),3.3,FSA Federal\n3.3,"Manassas, VA",1001 to 5000 Employees,2004,Company - Private,HR Consulting,Human Resources & Staffing,$50 to $100 million (USD)
15,Data Analyst II,$53K,$88K,"$68,262 /yr (est.)",3.3,FedEx Supply Chain\n3.3,"Tucson, AZ",501 to 1000 Employees,NaN,Subsidiary or Business Segment,Taxi & Car Services,Transportation & Logistics,$100 to $500 million (USD)
16,Junior Data Analyst,$30.00 /hr,$30.00,$30.00 /hr (est.),4.4,Columbia Consulting Group\n4.4,"Louisville, KY",51 to 200 Employees,1997,Nonprofit Organization,Business Consulting,Management & Consulting,$10 to $25 million (USD)
17,Marketing Data Analyst (REMOTE),$59K,$75K,"$67,000 /yr (est.)",4.4,iTalent Digital\n4.4,"Austin, TX",201 to 500 Employees,2005,Company - Private,Information Technology Support Services,Information Technology,Unknown / Non-Applicable
18,Data Integration Analyst,NaN,NaN,NaN,3.3,Talascend LLC\n3.3,Remote,51 to 200 Employees,1946,Company - Private,HR Consulting,Human Resources & Staffing,$100 to $500 million (USD)
19,Data Analyst,$85K,$85K,"$85,000 /yr (est.)",4.0,Mission Asset Fund\n4.0,"San Francisco, CA",1 to 50 Employees,NaN,Nonprofit Organization,Investment & Asset Management,Financial Services,Unknown / Non-Applicable
20,Data Analyst - 100% REMOTE,$40.00 /hr,$46.00,$43.00 /hr (est.),5.0,SGA\n5.0,Remote,Unknown,NaN,Company - Public,NaN,NaN,Unknown / Non-Applicable
21,Data Analyst,$70K,$80K,"$75,000 /yr (est.)",3.7,Fastaff\n3.7,Remote,51 to 200 Employees,NaN,Company - Private,Health Care Services & Hospitals,Healthcare,$100 to $500 million (USD)
22,Data Analyst,$56.00 /hr,$60.00,$58.00 /hr (est.),4.4,Sterling Engineering\n4.4,Remote,201 to 500 Employees,1969,Company - Private,HR Consulting,Human Resources & Staffing,$25 to $50 million (USD)
23,Remote Data Manipulation Analyst,$100K,$120K,"$110,000 /yr (est.)",4.1,Michael Page\n4.1,"Bensalem, PA",201 to 500 Employees,NaN,Company - Private,Security & Protective,Management & Consulting,Unknown / Non-Applicable
24,Data Analyst - Tableau/Sequel,$60K,$128K,"$87,611 /yr (est.)",4.8,"Ursus, Inc.\n4.8","New York, NY",51 to 200 Employees,2015,Company - Private,Information Technology Support Services,Information Technology,$25 to $50 million (USD)
25,Data Analyst,$75K,$115K,"$95,000 /yr (est.)",NaN,Delta Hire,Remote,Unknown,NaN,Company - Private,NaN,NaN,Unknown / Non-Applicable
26,Remote Senior Data Analyst,$140K,$160K,"$150,000 /yr (est.)",4.2,CyberCoders\n4.2,"San Francisco, CA",201 to 500 Employees,1999,Subsidiary or Business Segment,Staffing & Subcontracting,Human Resources & Staffing,$100 to $500 million (USD)
27,Data Analyst,$80K,$90K,"$85,000 /yr (est.)",NaN,I.E.S.,"Dallas, TX",NaN,NaN,NaN,NaN,NaN,NaN
28,Data Analyst,$85K,$105K,"$95,000 /yr (est.)",4.7,Marquee Staffing\n4.7,"Los Angeles, CA",1 to 50 Employees,1989,Company - Private,HR Consulting,Human Resources & Staffing,$10 to $25 million (USD)
29,Operations Analyst,$26.00 /hr,$26.00,$26.00 /hr (est.),3.9,TotalMed Medfi\n3.9,Remote,201 to 500 Employees,2005,Company - Private,Health Care Services & Hospitals,Healthcare,$100 to $500 million (USD)
30,Data Analyst,,,$60.00 /hr (est.),4.1,CRG\n4.1,"Macungie, PA",51 to 200 Employees,1994,Company - Private,HR Consulting,Human Resources & Staffing,Unknown / Non-Applicable
31,Data Analyst + Apprentice (Entry-Level),$35K,$45K,"$40,000 /yr (est.)",3.3,New Apprenticeship\n3.3,"Raleigh, NC",1 to 50 Employees,NaN,Company - Private,NaN,NaN,Unknown / Non-Applicable
32,Remote Data Manipulation Analyst,$100K,$120K,"$110,000 /yr (est.)",4.1,Michael Page\n4.1,"Bensalem, PA",201 to 500 Employees,NaN,Company - Private,Security & Protective,Management & Consulting,Unknown / Non-Applicable
33,HR Data Analyst,$50K,$55K,"$52,500 /yr (est.)",3.8,Percepta\n3.8,Remote,1001 to 5000 Employees,2000,Subsidiary or Business Segment,HR Consulting,Human Resources & Staffing,$100 to $500 million (USD)
34,Data Analyst,$90K,$100K,"$95,000 /yr (est.)",5.0,Excel Impact\n5.0,Remote,1 to 50 Employees,2013,Company - Private,Advertising & Public Relations,Media & Communication,$50 to $100 million (USD)
35,Senior Cybersecurity Analyst (Remote),$100K,$180K,"$140,000 /yr (est.)",3.8,The Home Depot\n3.8,"Atlanta, GA",10000+ Employees,1978,Company - Public,Home Furniture & Housewares Stores,Retail & Wholesale,$10+ billion (USD)
36,Vulnerability Data Entry Analyst,NaN,NaN,NaN,1.0,Defiant\n1.0,Remote,1 to 50 Employees,NaN,Company - Public,NaN,NaN,Unknown / Non-Applicable
37,Data Reporting Analyst,$65K,$85K,"$75,000 /yr (est.)",4.4,iTalent Digital\n4.4,Remote,201 to 500 Employees,2005,Company - Private,Information Technology Support Services,Information Technology,Unknown / Non-Applicable
38,Data and Reporting Analyst,$90K,$120K,"$105,000 /yr (est.)",3.8,Addison Group\n3.8,"McKinney, TX",501 to 1000 Employees,1999,Company - Private,Staffing & Subcontracting,Human Resources & Staffing,Unknown / Non-Applicable
39,Real Time Payment Business Analyst / RTP BA,$100K,$115K,"$107,500 /yr (est.)",3.9,Sumeru Global Technologies Private Limited\n3.9,Remote,201 to 500 Employees,2003,Nonprofit Organization,Information Technology Support Services,Information Technology,$10 to $25 million (USD)
40,Product Data Analyst,$105K,$125K,"$115,000 /yr (est.)",5.0,Underdog Fantasy\n5.0,Remote,51 to 200 Employees,2020,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",Unknown / Non-Applicable
41,Marketing Data Analyst (REMOTE),$59K,$75K,"$67,000 /yr (est.)",4.4,iTalent Digital\n4.4,"Austin, TX",201 to 500 Employees,2005,Company - Private,Information Technology Support Services,Information Technology,Unknown / Non-Applicable
42,Data Analyst/Insights Analyst (100% Remote),$31.07 /hr,$31.07,$31.07 /hr (est.),4.3,The Mom Project\n4.3,Remote,51 to 200 Employees,2016,Company - Private,HR Consulting,Human Resources & Staffing,Unknown / Non-Applicable
43,Data Analyst - Tableau/Sequel,$60K,$128K,"$87,611 /yr (est.)",4.8,"Ursus, Inc.\n4.8","New York, NY",51 to 200 Employees,2015,Company - Private,Information Technology Support Services,Information Technology,$25 to $50 million (USD)
44,Remote Senior Data Analyst,$140K,$160K,"$150,000 /yr (est.)",4.2,CyberCoders\n4.2,"San Francisco, CA",201 to 500 Employees,1999,Subsidiary or Business Segment,Staffing & Subcontracting,Human Resources & Staffing,$100 to $500 million (USD)
45,Data Analyst,$75K,$115K,"$95,000 /yr (est.)",NaN,Delta Hire,Remote,Unknown,NaN,Company - Private,NaN,NaN,Unknown / Non-Applicable
46,BI Analyst / SQL Developer,$70.00 /hr,$95.00,$82.50 /hr (est.),4.7,PeopleCaddie\n4.7,"Pittsburgh, PA",Unknown,NaN,Company - Public,NaN,NaN,Unknown / Non-Applicable
47,Data Analyst [Text Analytics],$65K,$75K,"$70,000 /yr (est.)",NaN,Conveyer,Remote,NaN,NaN,NaN,NaN,NaN,NaN
48,Data Analyst - 100% REMOTE,$40.00 /hr,$46.00,$43.00 /hr (est.),5.0,SGA\n5.0,Remote,Unknown,NaN,Company - Public,NaN,NaN,Unknown / Non-Applicable
49,Data Analyst,$56.00 /hr,$60.00,$58.00 /hr (est.),4.4,Sterling Engineering\n4.4,Remote,201 to 500 Employees,1969,Company - Private,HR Consulting,Human Resources & Staffing,$25 to $50 million (USD)
50,Data Analyst,$57.00 /hr,$66.00,$61.50 /hr (est.),3.9,Robert Half\n3.9,"Oceanside, CA",10000+ Employees,1948,Company - Public,HR Consulting,Human Resources & Staffing,$5 to $10 billion (USD)
51,Business Analyst,$100K,$100K,"$100,000 /yr (est.)",4.0,ALTA IT Services\n4.0,"Herndon, VA",201 to 500 Employees,2004,Company - Private,Information Technology Support Services,Information Technology,$10 to $25 million (USD)
52,Data Analyst,$60.00 /hr,$60.00,$60.00 /hr (est.),4.7,firstPRO Inc.\n4.7,Remote,51 to 200 Employees,1986,Company - Private,HR Consulting,Human Resources & Staffing,$25 to $50 million (USD)
53,Data / Reporting Analyst (Remote) (JO-2205-161...,$90K,$120K,"$105,000 /yr (est.)",3.9,Ledgent Technology\n3.9,"Hollywood, FL",501 to 1000 Employees,NaN,Company - Public,NaN,NaN,Unknown / Non-Applicable
54,Jr Data Scientist/Analyst,$52K,$108K,"$74,774 /yr (est.)",4.1,TEKsystems\n4.1,"Appleton, WI",1001 to 5000 Employees,1983,Subsidiary or Business Segment,HR Consulting,Human Resources & Staffing,$5 to $10 billion (USD)
55,Business Analyst,$50.00 /hr,$70.00,$60.00 /hr (est.),4.1,TEKsystems\n4.1,"Madison, WI",1001 to 5000 Employees,1983,Subsidiary or Business Segment,HR Consulting,Human Resources & Staffing,$5 to $10 billion (USD)
56,Data Analyst - Contract Opportunity,$70.00 /hr,$80.00,$75.00 /hr (est.),3.8,Vaco\n3.8,Remote,501 to 1000 Employees,2002,Company - Private,Business Consulting,Management & Consulting,$500 million to $1 billion (USD)
57,BI Data Analyst,$90K,$91K,"$90,500 /yr (est.)",4.1,Michael Page\n4.1,"New York, NY",201 to 500 Employees,NaN,Company - Private,Security & Protective,Management & Consulting,Unknown / Non-Applicable
58,Data Analyst,NaN,NaN,NaN,3.8,US Tech Solutions Private Limited\n3.8,Remote,1001 to 5000 Employees,2000,Company - Private,HR Consulting,Human Resources & Staffing,$100 to $500 million (USD)
59,Jr. Data Analyst,$48K,$98K,"$68,784 /yr (est.)",3.9,Calance US\n3.9,"Plano, TX",201 to 500 Employees,2004,Company - Private,Information Technology Support Services,Information Technology,$50 to $100 million (USD)
60,Data Analyst,$60.00 /hr,$60.00,$60.00 /hr (est.),4.1,CRG\n4.1,"Macungie, PA",51 to 200 Employees,1994,Company - Private,HR Consulting,Human Resources & Staffing,Unknown / Non-Applicable
61,Data Analyst + Apprentice (Entry-Level),$35K,$45K,"$40,000 /yr (est.)",3.3,New Apprenticeship\n3.3,"Richardson, TX",1 to 50 Employees,NaN,Company - Private,NaN,NaN,Unknown / Non-Applicable
62,Remote Data Manipulation Analyst,$100K,$120K,"$110,000 /yr (est.)",4.1,Michael Page\n4.1,"Bensalem, PA",201 to 500 Employees,NaN,Company - Private,Security & Protective,Management & Consulting,Unknown / Non-Applicable
63,Data Analyst,$75K,$90K,"$82,500 /yr (est.)",NaN,Research & Planning Consultants LP,Remote,NaN,NaN,NaN,NaN,NaN,NaN
64,Data Analyst + Apprentice (Entry-Level),$35K,$45K,"$40,000 /yr (est.)",3.3,New Apprenticeship\n3.3,"Richardson, TX",1 to 50 Employees,NaN,Company - Private,NaN,NaN,Unknown / Non-Applicable
65,"Strategy and Data Analyst, Sustainability",$69K,$144K,"$99,733 /yr (est.)",4.0,Uber\n4.0,"New York, NY",10000+ Employees,2009,Company - Public,Internet & Web Services,Information Technology,$10+ billion (USD)
66,Business Intelligence Data Analyst (Remote),$115K,$115K,"$115,000 /yr (est.)",3.5,Pinkerton\n3.5,Remote,1001 to 5000 Employees,1850,Subsidiary or Business Segment,Business Consulting,Management & Consulting,Unknown / Non-Applicable
67,Business Intelligence Data Analyst (Remote),$115K,$115K,"$115,000 /yr (est.)",3.5,Pinkerton\n3.5,Remote,1001 to 5000 Employees,1850,Subsidiary or Business Segment,Business Consulting,Management & Consulting,Unknown / Non-Applicable
68,"Market Data Insights Analyst, Denmark (fluent ...",NaN,NaN,NaN,4.2,Apple\n4.2,"Seattle, WA",10000+ Employees,1976,Company - Public,Computer Hardware Development,Information Technology,$10+ billion (USD)
69,Marketing Data Analyst (REMOTE),$59K,$75K,"$67,000 /yr (est.)",4.4,iTalent Digital\n4.4,"Austin, TX",201 to 500 Employees,2005,Company - Private,Information Technology Support Services,Information Technology,Unknown / Non-Applicable
70,Data and Reporting Analyst,$90K,$120K,"$105,000 /yr (est.)",3.8,Addison Group\n3.8,"McKinney, TX",501 to 1000 Employees,1999,Company - Private,Staffing & Subcontracting,Human Resources & Staffing,Unknown / Non-Applicable
71,Product Data Analyst,$105K,$125K,"$115,000 /yr (est.)",5.0,Underdog Fantasy\n5.0,Remote,51 to 200 Employees,2020,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",Unknown / Non-Applicable
72,Product Data Analyst,$105K,$125K,"$115,000 /yr (est.)",5.0,Underdog Fantasy\n5.0,Remote,51 to 200 Employees,2020,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",Unknown / Non-Applicable
73,Data Reporting Analyst,$65K,$85K,"$75,000 /yr (est.)",4.4,iTalent Digital\n4.4,Remote,201 to 500 Employees,2005,Company - Private,Information Technology Support Services,Information Technology,Unknown / Non-Applicable
74,Marketing Data Analyst,NaN,NaN,NaN,4.0,New American Funding\n4.0,Remote,1001 to 5000 Employees,2003,Company - Private,Banking & Lending,Financial Services,$500 million to $1 billion (USD)
75,Fraud Data Analyst -,NaN,NaN,NaN,4.2,Apple\n4.2,"Austin, TX",10000+ Employees,1976,Company - Public,Computer Hardware Development,Information Technology,$10+ billion (USD)
76,"Market Data Insights Analyst, Denmark (fluent ...",NaN,NaN,NaN,4.2,Apple\n4.2,"Seattle, WA",10000+ Employees,1976,Company - Public,Computer Hardware Development,Information Technology,$10+ billion (USD)
77,Data Analyst/Insights Analyst (100% Remote),$31.07 /hr,$31.07,$31.07 /hr (est.),4.3,The Mom Project\n4.3,Remote,51 to 200 Employees,2016,Company - Private,HR Consulting,Human Resources & Staffing,Unknown / Non-Applicable
78,"Business Analyst, Acquisition Marketing",$71K,$96K,"$83,500 /yr (est.)",4.4,Indeed\n4.4,"Austin, TX",10000+ Employees,2004,Company - Private,Internet & Web Services,Information Technology,$2 to $5 billion (USD)
79,Operational Data Analyst I,$70K,$80K,"$75,000 /yr (est.)",3.4,Computershare\n3.4,"Greenwood Village, CO",10000+ Employees,1978,Company - Public,Financial Transaction Processing,Financial Services,$2 to $5 billion (USD)
80,Data Analyst,$75K,$115K,"$95,000 /yr (est.)",NaN,Delta Hire,Remote,Unknown,NaN,Company - Private,NaN,NaN,Unknown / Non-Applicable
81,Vulnerability Data Entry Analyst,NaN,NaN,NaN,1.0,Defiant\n1.0,Remote,1 to 50 Employees,NaN,Company - Public,NaN,NaN,Unknown / Non-Applicable
82,Data Analyst/Insights Analyst (100% Remote),$31.07 /hr,$31.07,$31.07 /hr (est.),4.3,The Mom Project\n4.3,Remote,51 to 200 Employees,2016,Company - Private,HR Consulting,Human Resources & Staffing,Unknown / Non-Applicable
83,BI Analyst / SQL Developer,$70.00 /hr,$95.00,$82.50 /hr (est.),4.7,PeopleCaddie\n4.7,"Pittsburgh, PA",Unknown,NaN,Company - Public,NaN,NaN,Unknown / Non-Applicable
84,Jr Data Scientist/Analyst,$52K,$108K,"$74,774 /yr (est.)",4.1,TEKsystems\n4.1,"Appleton, WI",1001 to 5000 Employees,1983,Subsidiary or Business Segment,HR Consulting,Human Resources & Staffing,$5 to $10 billion (USD)
85,Data Analyst - 100% REMOTE,$40.00 /hr,$46.00,$43.00 /hr (est.),5.0,SGA\n5.0,Remote,Unknown,NaN,Company - Public,NaN,NaN,Unknown / Non-Applicable
86,Data Analyst [Text Analytics],$65K,$75K,"$70,000 /yr (est.)",NaN,Conveyer,Remote,NaN,NaN,NaN,NaN,NaN,NaN
87,Data Analyst,$60.00 /hr,$60.00,$60.00 /hr (est.),4.7,firstPRO Inc.\n4.7,Remote,51 to 200 Employees,1986,Company - Private,HR Consulting,Human Resources & Staffing,$25 to $50 million (USD)
88,Data Analyst,$56.00 /hr,$60.00,$58.00 /hr (est.),4.4,Sterling Engineering\n4.4,Remote,201 to 500 Employees,1969,Company - Private,HR Consulting,Human Resources & Staffing,$25 to $50 million (USD)
89,Business Analyst,$100K,$100K,"$100,000 /yr (est.)",4.0,ALTA IT Services\n4.0,"Herndon, VA",201 to 500 Employees,2004,Company - Private,Information Technology Support Services,Information Technology,$10 to $25 million (USD)
90,Data Analyst,,,$60.00 /hr (est.),4.1,CRG\n4.1,"Macungie, PA",51 to 200 Employees,1994,Company - Private,HR Consulting,Human Resources & Staffing,Unknown / Non-Applicable
91,Marketing Data Analyst (REMOTE),$59K,$75K,"$67,000 /yr (est.)",4.4,iTalent Digital\n4.4,"Austin, TX",201 to 500 Employees,2005,Company - Private,Information Technology Support Services,Information Technology,Unknown / Non-Applicable
92,Data Analyst + Apprentice (Entry-Level),$35K,$45K,"$40,000 /yr (est.)",3.3,New Apprenticeship\n3.3,"Raleigh, NC",1 to 50 Employees,NaN,Company - Private,NaN,NaN,Unknown / Non-Applicable
93,Remote Data Manipulation Analyst,$100K,$120K,"$110,000 /yr (est.)",4.1,Michael Page\n4.1,"Bensalem, PA",201 to 500 Employees,NaN,Company - Private,Security & Protective,Management & Consulting,Unknown / Non-Applicable
94,Data and Reporting Analyst,$90K,$120K,"$105,000 /yr (est.)",3.8,Addison Group\n3.8,"McKinney, TX",501 to 1000 Employees,1999,Company - Private,Staffing & Subcontracting,Human Resources & Staffing,Unknown / Non-Applicable
95,Product Data Analyst,$105K,$125K,"$115,000 /yr (est.)",5.0,Underdog Fantasy\n5.0,Remote,51 to 200 Employees,2020,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",Unknown / Non-Applicable
96,Vulnerability Data Entry Analyst,NaN,NaN,NaN,1.0,Defiant\n1.0,Remote,1 to 50 Employees,NaN,Company - Public,NaN,NaN,Unknown / Non-Applicable
97,Fraud Data Analyst -,NaN,NaN,NaN,4.2,Apple\n4.2,"Austin, TX",10000+ Employees,1976,Company - Public,Computer Hardware Development,Information Technology,$10+ billion (USD)
98,"Market Data Insights Analyst, Denmark (fluent ...",NaN,NaN,NaN,4.2,Apple\n4.2,"Seattle, WA",10000+ Employees,1976,Company - Public,Computer Hardware Development,Information Technology,$10+ billion (USD)
99,Data Reporting Analyst,$65K,$85K,"$75,000 /yr (est.)",4.4,iTalent Digital\n4.4,Remote,201 to 500 Employees,2005,Company - Private,Information Technology Support Services,Information Technology,Unknown / Non-Applicable